/*A közös fejléckép formázása*/
#topImage {
    width: 100%;
}

#navigation {
    list-style-type: none;
    text-align: center;
    /* overflow: hidden; */
    background-color: #353535;
    font-size: 20px;
    margin: 0px;
}

/* Eltávolítja a bullet pontokat az UNORDERED LIST listaelemek elől, illetve a margint és paddinget. Középre helyezi az elemeket. */

.nav-list {
    display: inline-block;
    padding: 5px;
    border-right: 1px solid white;
}

/* Vízszintesen egymás mellé helyezi az elemeket. A border right 1px széles határt húz a jobb oldalra.*/

.nav-list:last-child {
    border-right: none;
}

/* A listaelemek utolsó eleme után nem húz határt. */


.nav-anchor {
    display: block;
    color: whitesmoke;
    text-decoration: none;

}

.nav-anchor:hover {
    background-color: coral;
    cursor: pointer;
}

h2 {
    text-align: center;
}

.article-music {
    text-align: center;
}

#music-pic {
    display: block;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.flex-containerTomi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.music-styles-pic {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.flex-containerTomi div {
    flex: 25%;
}

.flex-containerTomi div p {
    text-align: center;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-pic {
    width: 200px;
    height: 133px;
}

.left-side .rigth-side {
    margin: auto;
}

footer {
    background-color: beige;
    text-align: center;
}

.footer-li {
    margin: 10px;
}

.footer-know-more {
    flex: 40%;
}

.footer-image {
    flex: 20%;
}

.footer-contact {
    flex: 40%;
}

.footer-list {
    list-style-type: none;
}

.footer-anchor {
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    footer {
        flex-direction: column;
    }
}