/*A közös fejléckép formázása*/
#topImage {
    width: 100%;
}

#navigation {
    list-style-type: none;
    text-align: center;
    /* overflow: hidden; */
    background-color: #353535;
    font-size: 20px;
    margin: 0px;
}

/* Eltávolítja a bullet pontokat az UNORDERED LIST listaelemek elől, illetve a margint és paddinget. Középre helyezi az elemeket. */
.nav-list {
    display: inline-block;
    padding: 5px;
    border-right: 1px solid white;
}

/* Vízszintesen egymás mellé helyezi az elemeket. A border right 1px széles határt húz a jobb oldalra.*/
.nav-list:lasit-child {
    border-right: none;
}

/* A listaelemek utolsó eleme után nem húz határt. */
.nav-anchor {
    display: block;
    color: whitesmoke;
    text-decoration: none;

}

.nav-anchor:hover {
    background-color: coral;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 38px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

p {
    font-size: 16px;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
}


/*Tomi saját formázása*/
.article-music {
    text-align: center;
}

#music-pic {
    display: block;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.flex-containerTomi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.music-styles-pic {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.flex-containerTomi div {
    flex: 25%;
}

.flex-containerTomi div p {
    text-align: center;
}

@media screen and (max-width: 850px) {
    .flex-containerTomi div {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .flex-containerTomi div {
        flex: 100%;
        max-width: 100%;
    }
}


/*Dorka saját formázása*/
.JDbevezeto {
    font-size: 18px;
    margin-bottom: 40pt;
}

.flex-containerJD {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-containerJD div {
    flex: 33%;
}

.flex-element-JD {
    flex: 33%;
    max-width: 33%;
}

.pic-JD {
    display: block;
    margin: auto;
    border-radius: 10px;
    height: 220pt;
}

.flex-element-JD p {
    text-align: center;
}

.morbid {
    color: brown;
}

@media screen and (max-width: 1000px) {
    .flex-element-JD {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .flex-element-JD {
        flex: 100%;
        max-width: 100%;
    }
}



footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-pic {
    width: 200px;
    height: 133px;
}

.left-side .rigth-side {
    margin: auto;
}

footer {
    color: black;
    background-color: beige;
    text-align: center;
}

.footer-li {
    margin: 10px;
}

.footer-know-more {
    flex: 40%;
}

.footer-image {
    flex: 20%;
}

.footer-contact {
    flex: 40%;
}

.footer-list {
    list-style-type: none;
}

.footer-anchor {
    text-decoration: none;
}


@media screen and (max-width: 500px) {
    footer {
        flex-direction: column;
    }
}

/* Kriszta saját formázása */
#mainBodyKriszta {
    margin-left: 100px;
    margin-right: 100px;
}

#pageTitleKriszta {
    text-align: center;
}

.otherLogo {
    height: 100px;
    width: auto;
}

.videosBlizzard {
    height: 360px;
    width: 640px;
    border: 0px;
}

#phil-winds {
    height: auto;
    width: 640px;
}

.vgl-captions {
    font-weight: bold;
    padding: 10px;
}

/*skth formázás*/
.music-round {
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.ukulele {
    border: 0;
    width="435";
    height="236";
}